@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define CSS custom properties for consistent theming */
:root {
  --background: #fef6e4;      /* Soft Beige Background */
  --foreground: #171717;      /* Dark Text Color */

  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}





